* {
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 2em;
}

.tombCell {
    display: inline-block;
    padding: 1em;
    border: solid 0.5px;
    width: 4%;
}

#tombola {
    margin-bottom: 1em;
}

.selected{
    color: red;
}